body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  min-height: 80vh;
}

h3{
  padding: 1rem 0;
}

a{
  text-decoration: none;
}

.rating span{
  margin: 0.1rem;
}
